@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: #cbc0d3;
  color: #feeafa;
}

a {
  text-decoration: none;
  color: #feeafa;
  transition: all 0.2s;
}

a:hover {
  color: #dee2ff;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

h1 {
  color: #8e9aaf;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 750px;
  padding: 30px;
  cursor: default;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.info-text {
  margin-left: 10px;
  width: 50%;
}

.info p {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #feeafa;
  opacity: 0.9;
  padding-bottom: 10px;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .info {
    display: block;
    text-align: center;
  }
  .info-text {
    width: 100%;
  }
}

.card {
  background-color: #8e9aaf;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #cbc0d3;
  margin-bottom: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.card h2 {
  color: #efd3d7;
  margin: 10px 0px;
}

.avatar {
  width: 200px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.btn {
  padding: 5px;
  background-color: #dee2ff;
  border: none;
  color: #8e9aaf;
  font-family: inherit;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.list {
  padding: 0 20px;
}

.table {
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.table thead {
  font-size: 20px;
  text-align: center;
  color: #efd3d7;
}

.table td {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .table td {
    display: flex;
    width: 100%;
  }

  .table thead {
    display: none;
  }
}

.table tbody tr {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.connect-group label {
  display: block;
  font-size: 16px;
}

.connect-group input,
.connect-group textarea {
  border: none;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  color: #dee2ff;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.connect-group input:hover,
.connect-group textarea:hover {
  border-bottom: 1px solid #3d405b;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.25);
}

.form-row {
  display: flex;
}

.form-row .connect-group {
  width: 50%;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .form-row {
    display: block;
  }
  .form-row .connect-group {
    width: 100%;
    margin-bottom: 10px;
  }
}
